<% layout("/layouts/boilerplate") -%>
<div class="row">
<div class="col-8 offset-2"> 
<body>
    <br>
    <h3>Edit listing :</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <lable for="title" class="form-lable">Title</lable>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
        <div class="invalid-feedback">Enter a valid title!</div>
         </div>

         <div class="mb-3">
            <lable for="description" class="form-lable">Description</lable>
        <textarea name="listing[description]" <%= listing.description %> class="form-control"required> </textarea>
        <div class="invalid-feedback">Enter a valid description!</div>
    </div>

    <div class="mb-">
      Original image <br>
       <img src="<%= originalImageUrl %>" style="width: 300px; height: 200px;" />
    </div>

         <div class="mb-3">
            <lable for="image" class="form-lable">Upload new image</lable>
        <input name="listing[image]" type="file" class="form-control">
    </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-lable">Price</lable>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"required>
            <div class="invalid-feedback">Enter a valid price!</div>
            </div>

            <div class="mb-3 col-md-8">
                <lable for="country" class="form-lable">Country</lable>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"required>
            <div class="invalid-feedback">Fill the name!</div>
        </div>
        </div>
        
        <div class="mb-3">
            <lable for="location" class="form-lable">Location</lable>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"required>
        <div class="invalid-feedback">Enter a valid location!</div>
        </div>
        
        <button class="btn btn-dark add-btn mt-3">Edit</button>

    </form>
</body>
 </div>
 </div>

 <script srs="/js/script.js"></script>